<div class="card events">
  <h3><%= link_to event.title.titleize, event %></h3>
  <div class="event-meta">
    <p><%= icon 'calendar-o', class: 'fa-fw' %><%= event.starts_at.strftime('%B %e, %Y  -  %k:%M') %></p>
    <p><%= icon 'map-marker', class: 'fa-fw' %><a href="https://www.google.ca/maps/search/<%= event.address %>", target='_blank'><%= event.location_name %></a></p>
    <%= simple_format event.address, class: 'no-icon hidden-xs' %>
  </div>
  <div class="markdown-body">
    <%= render_markdown_as_html event.body %>
    <% if event.talks.any? %>
      <h4>Talks</h4>
      <%= render event.talks %>
    <% end %>
    <% if event.sponsors.any? %>
      <h4>Brought to you by our sponsors: </h4>
      <%= render event.sponsorships %>
    <% end %>
  </div>
</div>
