<div class="event">
  <h2 class="event-title"><%= link_to event.title.titleize, event %></h1>
  <div class="event-meta">
    <p><%= icon 'calendar-o', class: 'fa-fw' %><%= event.starts_at.strftime('%B %e, %Y  -  %k:%M') %></p>
    <p><%= icon 'map-marker', class: 'fa-fw' %><%= event.location.name %>, <a href="https://www.google.ca/maps/search/<%= event.location.address %>", target='_blank'><%= event.location.address %></a></p>
  </div>
  <div class="event-body">
    <%= render_markdown_as_html truncate_if_past(event, event.body)%>
    <% if event.talks.any? %>
      <h3>Talks</h3>
        <% event.talks.each do |talk| %>
          <div class="talk">
            <h4><%= talk.title %>, by <%= talk.member.name %></h4>
            <%= gravatar_for talk.member %>
            <%= render_markdown_as_html truncate_if_past(event, talk.description) %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
