<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { page.page_title } %>

<% content_for :javascript do %>
  <%= javascript_include_tag "joblint.min.js" %>
<% end %>

<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <%= link_to(
      "Edit",
      [:edit, namespace, page.resource],
      class: "button",
    ) %>
  </div>
</header>

<dl>
  <dt class="attribute-label">
    Joblint
  </dt>

  <dd class="attribute-data">
    <div class="joblint-container">
      <div class="joblint-issue-tally-container">
        <div class="issues-container">
          <div class="joblint-issue">
            <span class="issue-title">Culture</span>
            <span id="culture-bar" class="issue-bar">&nbsp;</span>
            <span id="culture-issues-num">(0)</span>
          </div>
          <div class="joblint-issue">
            <span class="issue-title">Realism</span>
            <span id="realism-bar" class="issue-bar">&nbsp;</span>
            <span id="realism-issues-num">(0)</span>
          </div>
          <div class="joblint-issue">
            <span class="issue-title">Recruiter</span>
            <span id="recruiter-bar" class="issue-bar">&nbsp;</span>
            <span id="recruiter-issues-num">(0)</span>
          </div>
          <div class="joblint-issue">
            <span class="issue-title">Sexism</span>
            <span id="sexism-bar" class="issue-bar">&nbsp;</span>
            <span id="sexism-issues-num">(0)</span>
          </div>
          <div class="joblint-issue">
            <span class="issue-title">Tech</span>
            <span id="tech-bar" class="issue-bar">&nbsp;</span>
            <span id="tech-issues-num">(0)</span>
          </div>
        </div>
      </div>

      <div class="joblint-issue-desc-container">
      </div>
    </div>
  </dd>

  <% page.attributes.each do |attribute| %>
    <dt class="attribute-label"><%= attribute.name.titleize %></dt>

    <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
        ><%= render_field attribute %></dd>
  <% end %>
</dl>
