<footer>
  <div class="left">
    <ul>
      <li>Follow us:</li>
      <li><%= link_to icon('fab', "facebook", "Facebook"), "https://www.facebook.com/montrealrb", target: "_blank" %></li>
      <li><%= link_to icon("fab", "twitter", '@montrealrb'), "https://twitter.com/montrealrb", target: "_blank" %></li>
      <li><%= link_to icon('fab', "meetup", "meetup.com"), "https://www.meetup.com/mtl-rb/", target: "_blank" %></li>
      <li><%= link_to icon('fab', "youtube", "YouTube"), "https://www.youtube.com/channel/UCmq5nOaMp18rcljeFocUUqw", target: "_blank"%></li>
    </ul>
  </div>
  <div class="right">
    <p>Montreal.rb &copy; <%= Time.current.year %></p>
    <p><%= link_to "Code of Conduct", page_path('code-of-conduct') %></p>
  </div>
</footer>
