<footer>
  <section class="links">
    <div class="left">
      <h1>
        Community
      </h1>
      <ul>
      <li><%= link_to 'Subscribe to have access to our Slack team, and more!', new_user_registration_path %></li>
      <li><%= link_to "Code of Conduct", page_path('code-of-conduct') %></li>
      </ul>
    </div>

    <div class="left">
      <h1>
        Follow us:
      </h1>

      <ul>
        <li><%= social_media_link_for(:twitter, with_icon: true) %></li>
        <li><%= social_media_link_for(:facebook, with_icon: true) %></li>
        <li><%= social_media_link_for(:meetup, with_icon: true) %></li>
        <li><%= social_media_link_for(:youtube, with_icon: true) %></li>
      </ul>
    </div>
  </section>

  <section>
    <p>Montreal.rb &copy; <%= Time.current.year %></p>
  </section>
</footer>
