<footer>
  <div class="left">
    <ul>
      <li>Follow us:</li>
      <li><%= social_media_link_for(:twitter, with_icon: true) %></li>
      <li><%= social_media_link_for(:facebook, with_icon: true) %></li>
      <li><%= social_media_link_for(:meetup, with_icon: true) %></li>
      <li><%= social_media_link_for(:youtube, with_icon: true) %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
    </ul>
  </div>
  <div class="right">
    <p>Montreal.rb &copy; <%= Time.current.year %></p>
    <p><%= link_to "Code of Conduct", code_of_conduct_path %></p>
  </div>
</footer>
