<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1>Montreal.rb</h1>
        <p class="lead">Montreal's Ruby Community</p>
      </div>
      <div class="col-md-8 col-md-offset-1">
        <div class="row">
          <ul class="nav nav-pills pull-right">
            <li><%= link_to 'Home', '#' %></li>
            <li><%= link_to 'About', '#' %></li>
            <li><%= link_to 'FAQ', '#' %></li>
            <li><%= link_to 'Français', '#' %></li>
            <% if current_user %>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <li><%= link_to 'Login', new_user_session_path %></li>
            <% end %>

          </ul>
        </div>
        <div class="search-form row">
          <%= simple_form_for :search do |f| %>
            <%= f.input :q, as: :search, placeholder: 'search', label: false %>
          <% end -%>
        </div>
        <ul class="nav nav-pills">
          <li><%= link_to 'Events', events_path %></li>
          <li><%= link_to 'Talks', '#' %></li>
          <li><%= link_to 'News', news_items_path %></li>
          <li><%= link_to 'Members', '#' %></li>
          <li><%= link_to 'Organization', '#' %></li>
          <li><%= link_to 'Jobs', '#' %></li>
        </ul>
      </div>
    </div>
  </div>
</header>
