<header>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to root_path do %>
          <h1>Montreal.rb</h1>
          <p class="hidden-sm hidden-xs">Montreal's Ruby Community</p>
        <% end %>
      </div>

      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <% if current_user %>
            <% if current_user.admin? %>
              <li><%= link_to 'Admin Area', admin_root_path %></li>
            <% end %>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Log in', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
